<% layout("/layouts/boilerplate2")%>
<body>
    <div class="col-6 offset-3">
        <div class="alert alert-danger alert-dismissible fade show role="alert">
            <h4>Error</h4>
            <p><%=message%></p>
          </div>
    </div>
</body>
