<% layout("/layouts/boilerplate2")%>
<body>
    <div class="row row-cols-lg-3 row row-cols-md-2 row row-cols-sm-1">
        <%for(listings of allListings){%>
           <a href="/listing/<%=listings.id%>" class="listing-link">
            <div class="card col listing-card">
                <img src="<%=listings.image.url%>" class="card-img-top" alt="..." style="height: 20rem">
                <div class="card-img-overlay">abcd</div>
                <div class="card-body">
                  <p class="card-text">
                    <b><%=listings.title%></b>
                    <br>
                    <i class="fa-solid fa-indian-rupee-sign"></i> <%=listings.price%>
                    /night
                </p>
                </div>
              </div>
           </a>
        <%}%>
    </div>
    <br>
</body>
</html>


