<% layout("/layouts/boilerplate2")%>
<div class="main-container offset-1" style="width: 75rem;">
    <%if(currUser){%>
        <form action="/listing/<%=listing.id%>/reviews" method="POST" novalidate class="needs-validation">
          <div class="star-container">
            <label for="review" class="form-label"><b>Rating</b></label>
            <fieldset class="starability-slot">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          <label for="comment" class="form-label"><b>Comment</b></label>
          <textarea name="review[comment]" class="form-control"required id="comment" cols="30" rows="10"></textarea>
          <div class="invalid-feedback">Please add some comments for review</div>
          <br>
          <button class="btn btn-outline-dark">Submit</button>
        </form>
          <form action="/listing/<%=listing.id%>/allReviews" method="get">
            <button class="btn btn-outline-dark">Show All reviews</button>
          </form>
        </div>
    <%}%>
    <hr>
    <%if(currUser==null){%>
      <div style="margin-right: 10rem;" class="rating-warning-container">
        <h3>Kindly Login to continue</h3>
        <form action="/login" method="get">
          <button class="btn btn-success btn-md mt-3 warning-login">Login</button>
        </form>
      </div>
    <%}%>
</div>
